body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dodgerblue;
    align-items: center;
    text-align: center;
}


table
{
    border: 5px solid black;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}